<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results | Part 2</title>
    
    <style>
        body {
          font-family: 'Montserrat', sans-serif;
        }
    
        h1, h2, h3, h4, h5, h6 {
          margin-top: 0;
          padding-top: 0;
        }

        main {
          width: 90%;
          margin: 0 auto;
        }
    
        form {
          text-align: center;
          margin-bottom: 25px;
        }
    
        input {
          width: 25%;
        }

        #results {
          margin-top: 25px;
        }
    
        .item {
          display: flex;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          margin-bottom: 25px;
          border-radius: 10px;
          overflow: hidden;
        }
    
        .item__image-container {
          margin: 0;
          width: 350px;
          flex-shrink: 0;
        }
    
        .item__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }   
        
        .item__main-container {
          flex: 1;
          word-break: break-word;
          background-color: #fdfeff;
          padding: 15px;
        }
    
        .item__main-container p {
          margin: 0;
          margin-bottom: 8px;
        }
        .item__main-container p:last-child {
          margin-bottom: 0;
        }
    </style>
</head>
<body>
    <main>
        <h1>Search Results</h1>
        <a href="/">Go back</a>

        <div id="results">
            <% if (items.length > 0) { %>
                <% items.forEach(item => { %>
                    <section class="item">
                        <figure class="item__image-container">
                            <img class="item__image" src="<%= item.largeImageURL %>" alt="<%= item.tags %>" />
                        </figure>
                        <div class="item__main-container">
                            <h2>Image Details:</h2>
                            <p><strong>Downloads:</strong> <%= item.downloads %></p>
                            <p><strong>LargeImageURL:</strong> <a href="<%=item.largeImageURL %>"><%=item.largeImageURL %></a></p>
                            <p><strong>Image Likes:</strong> <%= item.likes %></p>
                            <p><strong>Tags:</strong> <%= item.tags %></p>
                            <p><strong>Image Type:</strong> <%=item.type%></p>
                            <p><strong>User Name:</strong> <%=item.user%></p>
                            <p><strong>URL:</strong></p>
                            <a href="<%=item.pageURL%>"><%=item.pageURL%></a>
                        </div>
                    </section>
                <% }) %>
            <% } else { %>
                <p>No data found!</p>
            <% } %>
        </div>
    </main>
</body>
</html>
